@import "tailwindcss";

@font-face {
  font-family: "IransansR";
  src: url("/fonts/IRANSansX-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "IransansB";
  src: url("/fonts/IRANSansX-Bold.woff2") format("woff2");
}

body {
  direction: rtl;
}
